body {
    margin: 60px auto;
    width: 70%;
    min-width: 320px;
    max-width: 800px;
    font-family: Georgia, Times, "Times New Roman", serif;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    text-align: center;
    font-size: 1.2em;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #ff7b00;
}
a:hover {
    text-decoration: underline;
}
 {
    font-size: 3em;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
  Helvetica, Arial, "Lucida Grande", sans-serif;
}
h2 {
    font-size: 2em;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
  Helvetica, Arial, "Lucida Grande", sans-serif;
}
h3 {
    font-size: 1.5em;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
  Helvetica, Arial, "Lucida Grande", sans-serif;
}
p {
    font-size: 1em;
    line-height: 1.3em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.center {
    margin: 0 auto;
}

.bw-overview-table {
    margin: 0 auto;
    border-spacing: 0;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

.bw-overview-table td {
    padding-top: 1em;
}

.bw-overview-table th {
    border-bottom: solid;
    border-width: medium;
}

.bw-snapshot-cell {
    width: 400px; /* snapshots (images in img/photos/small) are 400px wide */
}

.bw-overview-cell {
    padding-left: 2em;
    align: left;
    min-width: 200px;
    font-size: .95em; /* make the font a little smaller */
}

.bw-overview-cell h4 {
    margin: 0;
    margin-bottom: .2em;
    padding: 0;
}
