<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
							<li> || </li>
	        		<!-- <li><a href="/blogs-and-websites">Blogs and Websites</a></li>
							<li> || </li> TODO activities: GDI, wics++, conferences, prog. competition -->
	        		<li><a href="/projects">Projects</a></li>
							<li> || </li>
							<li><a href="https://www.linkedin.com/in/jamiechand">LinkedIn</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<br>
			<footer>
	    		<ul>
	        		<li><a href="https://github.com/jamiehand">github.com/jamiehand</a></li>
				</ul>
			</footer>
		</body>
	</html>
